<%= form_tag recipes_path, :method => 'get' do %>
  <p>
  <%= text_field_tag :search, params[:search], placeholder: "Is It Vegan?" %>
  <%= submit_tag 'Search', :name => nil %>
  </p>
<%end%>
<ul>
<%if @search%>


<%@results.each do |result|%>
  <h1><%= result["recipeName"] %></h1>
  <p><%= result["ingredients"].join(', ')%>
  <img src = "<%=result["imageUrlsBySize"]["90"]%>"></p>
  <%end%>



